@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import '../../../styles/globals.scss';

.p-field * {
  display: block;
}

label {
  font-size: 0.8em;
}

input {
  margin-top: 5px;
}
