<div class="bg-gray-50">
  <shop-header></shop-header>

  <!-- body -->
  <div>
    <!-- category filter side -->
    <div class="bg-white">
      <div>
        <oneshop-web-category-filter-mobile></oneshop-web-category-filter-mobile>

        <main class="mx-auto px-4 sm:px-6 lg:px-16 pt-12">
          <div
            class="flex items-baseline justify-between border-gray-200 pt-24 lg:pt-10 pb-6"
          ></div>
          <div class="xl:hidden w-full col-span-1 flex justify-end pb-16">
            <p-button
              label="Filter Category"
              icon="pi pi-filter"
              styleClass="bg-black border-black p-button-sm mt-7"
              size="small"
            ></p-button>
          </div>
          <div
            class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4 xl:grid-cols-5"
          >
            <!-- Mobile category Filters -->
            <oneshop-web-category-filter></oneshop-web-category-filter>

            <!-- Product grid -->
            <div class="lg:col-span-4 xl:cols-span-5">
              <!-- Replace with your content -->
              <div class="bg-white">
                <div
                  class="mx-auto max-w-2xl pb-12 px-4 sm:px-6 lg:max-w-7xl lg:px-8"
                >
                  <h2 class="text-2xl font-bold tracking-tight text-gray-900">
                    New Stocks
                  </h2>

                  <div
                    class="mt-6 grid gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
                  >
                    <div *ngFor="let product of products">
                      <oneshop-web-product-item
                        [product]="product"
                      ></oneshop-web-product-item>
                    </div>
                    <!-- More products... -->
                  </div>
                </div>
              </div>
              <!-- /End replace -->
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
