<div class="group relative cursor-pointer" (click)="viewDetails(product._id)">
  <div
    class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:aspect-none lg:h-80"
  >
    <img
      [src]="product.image"
      alt="Front of men&#039;s Basic Tee in black."
      class="h-full w-full object-contain object-center lg:h-full lg:w-full"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <span aria-hidden="true" class="absolute inset-0"></span>
        {{ product.name }}
      </h3>
      <p class="mt-1 text-sm text-gray-500">{{ product.category.name }}</p>
    </div>
    <p class="text-sm font-medium text-gray-900">
      {{ product.price | currency }}
    </p>
  </div>
</div>
