<div
  class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start"
>
  <img
    [src]="order.product.image"
    alt="product-image"
    class="w-full rounded-lg sm:w-40"
  />
  <div class="sm:ml-4">
    <div class="mt-5 sm:mt-0">
      <h2 class="text-lg font-bold text-gray-900">{{ order.product.name }}</h2>
      <!-- <p class="mt-1 text-xs text-gray-700">
        {{ order.product.price }} per item
      </p> -->
      <span class="text-gray-400">{{ order.product.price | currency }}</span>
    </div>
    <div class="mt-4 block sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
      <div class="flex justify-between items-center space-x-4 pt-10">
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          decrementButtonClass="font-white bg-black border-black w-5"
          incrementButtonClass="font-white bg-black border-black"
          incrementButtonIcon="pi text-xs pi-plus"
          decrementButtonIcon="pi text-xs pi-minus"
          styleClass="h-8"
          inputStyleClass="w-16"
          [(ngModel)]="order.quantity"
          (onInput)="updateOrderQuantity(order.product._id, $event)"
        >
        </p-inputNumber>
        <p class="text-medium font-bold">
          {{ order.product.price * order.quantity | currency }}
        </p>
        <button (click)="deleteOrderItem(order.product._id)">
          <i class="pi pi-trash text-red-500"></i>
        </button>
      </div>
    </div>
  </div>
</div>
