<div class="md:flex items-start justify-center py-12 2xl:px-20 md:px-6 px-4">
  <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
    <img
      class="w-full"
      alt="image of a girl posing"
      src="https://i.ibb.co/QMdWfzX/component-image-one.png"
    />
    <img
      class="mt-6 w-full"
      alt="image of a girl posing"
      src="https://i.ibb.co/qxkRXSq/component-image-two.png"
    />
  </div>
  <div class="md:hidden">
    <img
      class="w-full"
      alt="image of a girl posing"
      src="https://i.ibb.co/QMdWfzX/component-image-one.png"
    />
    <div class="flex items-center justify-between mt-3 space-x-4 md:space-x-0">
      <img
        alt="image-tag-one"
        class="md:w-48 md:h-48 w-full"
        src="https://i.ibb.co/cYDrVGh/Rectangle-245.png"
      />
      <img
        alt="image-tag-one"
        class="md:w-48 md:h-48 w-full"
        src="https://i.ibb.co/f17NXrW/Rectangle-244.png"
      />
      <img
        alt="image-tag-one"
        class="md:w-48 md:h-48 w-full"
        src="https://i.ibb.co/cYDrVGh/Rectangle-245.png"
      />
      <img
        alt="image-tag-one"
        class="md:w-48 md:h-48 w-full"
        src="https://i.ibb.co/f17NXrW/Rectangle-244.png"
      />
    </div>
  </div>
  <div class="xl:w-2/5 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
    <div class="border-b border-gray-200 pb-6">
      <p class="text-sm leading-none text-gray-600">
        Balenciaga Fall Collection
      </p>
      <h1
        class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800 mt-2"
      >
        Balenciaga Signature Sweatshirt
      </h1>
    </div>

    <div>
      <p
        class="xl:pr-48 text-base lg:leading-tight leading-normal text-gray-600 mt-7"
      >
        It is a long established fact that a reader will be distracted by
        thereadable content of a page when looking at its layout. The point of
        usingLorem Ipsum is that it has a more-or-less normal distribution of
        letters.
      </p>
      <p class="text-base leading-4 mt-7 text-gray-600">
        Product Code: 8BN321AF2IF0NYA
      </p>
      <p class="text-base leading-4 mt-4 text-gray-600">Length: 13.2 inches</p>
      <p class="text-base leading-4 mt-4 text-gray-600">Height: 10 inches</p>
      <p class="text-base leading-4 mt-4 text-gray-600">Depth: 5.1 inches</p>
      <p class="md:w-96 text-base leading-normal text-gray-600 mt-4">
        Composition: 100% calf leather, inside: 100% lamb leather
      </p>
    </div>
    <button
      class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 focus:outline-none"
    >
      Add to cart
    </button>
  </div>
</div>
