<shop-header></shop-header>

<!-- component -->
<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <p-button
      label="Back"
      icon="pi pi-angle-left"
      styleClass="p-button-secondary p-button-sm"
      size="small"
      routerLink="/"
    ></p-button>
    <div class="lg:w-4/5 mx-auto flex items-start gap-20">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full object-contain object-center rounded pt-28"
        [src]="product.image"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          {{ product.category.name }}
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ product.name }}
        </h1>

        <div class="flex pt-16 justify-between">
          <span class="title-font font-bold text-3xl text-gray-900">{{
            product.price | currency
          }}</span>

          <p-button
            label="Add to Cart"
            icon="pi pi-cart"
            styleClass="text-white bg-blue-500 border-blue-500"
            size="small"
          ></p-button>
        </div>

        <p
          class="leading-relaxed pt-10"
          [innerHTML]="product.richDescription"
        ></p>
      </div>
    </div>
  </div>
</section>
